.md-primary-fg-color {
    background: #EE0F0F;
    color: red;
}


.md-primary-fg-color--light {
    background: #ECB7B7;
    color: red;
}


.md-primary-fg-color--dark {
    background: #90030C;
    color: red
}

